Repository evolutionary-architecture/evolutionary-architecture-by-example, pull requests merged in 2025-09, with the labels that each got.

#212 feat(db): implement options pattern for database connection strings chapter 2
  Chapter-2-modules-separation/Src/Contracts/Fitnet.Contracts.Infrastructure/Database/ContractsPersistenceOptions.cs
  Chapter-2-modules-separation/Src/Contracts/Fitnet.Contracts.Infrastructure/Database/DatabaseModule.cs
  Chapter-2-modules-separation/Src/Offers/Fitnet.Offers.DataAccess/Database/DatabaseModule.cs
  Chapter-2-modules-separation/Src/Offers/Fitnet.Offers.DataAccess/Database/OffersPersistenceOptions.cs
  Chapter-2-modules-separation/Src/Offers/Fitnet.Offers.DataAccess/Fitnet.Offers.DataAccess.csproj
  Chapter-2-modules-separation/Src/Passes/Fitnet.Passes.DataAccess/Database/DatabaseModule.cs
  Chapter-2-modules-separation/Src/Passes/Fitnet.Passes.DataAccess/Database/PassesPersistenceOptions.cs
  Chapter-2-modules-separation/Src/Passes/Fitnet.Passes.DataAccess/Fitnet.Passes.DataAccess.csproj
  Chapter-2-modules-separation/Src/Reports/Fitnet.Reports/DataAccess/DatabaseAccessModule.cs
  Chapter-2-modules-separation/Src/Reports/Fitnet.Reports/DataAccess/DatabaseConnectionFactory.cs
  Chapter-2-modules-separation/Src/Reports/Fitnet.Reports/DataAccess/ReportsPersistenceOptions.cs
  Chapter-2-modules-separation/Src/Reports/Fitnet.Reports/ReportsModule.cs
Labels: chapter 2

#217 fix: update contracts package version
  Chapter-3-microservice-extraction/Fitnet.Contracts/Src/Fitnet.Contracts.IntegrationEvents/Fitnet.Contracts.IntegrationEvents.csproj
Labels: chapter 3

#218 feat: update packages in chapter 1
  Chapter-1-initial-architecture/Src/Fitnet/Fitnet.csproj
Labels: chapter 1
